/*reset*/
* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*root-var*/
:root {
  --main-bg-color: #e6e6e6;
  /*works*/
  --header-bg-color: #fff;
  /*works*/
  /*not working no fallback*/
  --para-font-color: rgb(110, 110, 110);
}

/*debug*/

body {
  background-color: rgb(219, 219, 219);
}

header {

  border: 1px solid black;

  background-color: white;
}
/*

.fa {
  border: 1px solid red;

}

.logo {
  border: 1px solid orange;

}

.search {
  border: 1px solid pink;

}

.search-button {
  border: 1px solid purple;

}

.icons {
  border: 1px solid rgb(42, 165, 42);
}

.flex-center {
  background-color: yellow;
}

img {
  display: block;

}

.vedio {

  border: 1px solid black;
}

.sub-button {
  border: 1px solid red;
}

.flex-between {
  border: 1px solid black;

}

.flex-around {
  border: 1px solid purple;
 
}

.subs {
  border: 1px solid yellow;
}

.comment {
  border: 1px solid red;
}

.commit-input {
  border: 1px solid blue;

}

.user-comment {
  border: 1px solid black;
}

.comments {
  border: 1px solid blue;
}

.dis-like {
  border: 1px solid red;

}
*/
/*Notes: declaration order is by type*/

/*--------------header--------------------------*/
header {
  /* Positioning */
  /* Display & Box Model */
  width: 100%;
  height: 40px;
  /* Color */
  /* Text */
  /* Other */
}

.fa {
  /* Positioning */
  /* Display & Box Model */
  width: 28;
  height: 28px;

  /* Color */
  /* Text */
  /* Other */


}
.fa-bars{
  margin-left: 20px;
  margin-top: 10px;
}

.logo {
  /* Positioning */
  /* Display & Box Model */
  width: 80px;
  height: 100px;
  margin: 10px;

  /* Color */
  /* Text */
  /* Other */

}


.search {
  /* Positioning */
  /* Display & Box Model */
  width: 300px;
  height: 23px;
  /* Color */
  /* Text */
  /* Other */

  background-color: #ffffff;
  border: 1px solid #ccc);
  border-right: none;
  border-radius: 2px 0 0 2px;
  box-shadow: inset 0 1px 2px #eee;
  color: #111;
  padding:2px 6px;

}

.search-button {
  /* Positioning */
  /* Display & Box Model */
  width: 40px;
  height: 20px;
  /* Color */
  /* Text */
  /* Other */
  border-color: #c6c6c6;
  background-color: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}

.icons {
  /* Positioning */
  /* Display & Box Model */
  width: 25px;
  height: 25px;
  margin:0 10px 0 10px; /* top | right | bottom | left */

  /* Color */

  /* Text */
  text-align: center;

  /* Other */

}
.user-icon{
 /* Positioning */
  /* Display & Box Model */
  width: 40px;
  height: 40px;
  margin:20px 20px 0 0;

  /* Color */
  /* Text */
  text-align: center;
  /* Other */


}

/*--------------vedio--------------------------*/
main {
  /* Positioning */
  /* Display & Box Model */

  margin-top: 10px;
  /* Color */
 
  /* Text */
  /* Other */

}

.vedio {
  /* Positioning */
  /* Display & Box Model */
  width: 50vw;
  overflow: auto;

  /* Color */

  /* Text */
  /* Other */
}

iframe {
  width: 50vw;
  height: 50vh;
  margin-bottom: 10px;
}

.title {
  /* Positioning */
  /* Display & Box Model */
  margin-top: 10px;

  /* Color */
  /* Text */
  /* Other */
}

.p-bold {
  /* Positioning */
  /* Display & Box Model */

  /* Color */
  color: rgb(73, 73, 73);
  /* Text */
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 40px;
  /* Other */
}

/*
.right {
  float: right;

}

.left {
  float: left;
}
*/
.line {
  line-height: 30px;
}

.subs {

  /* Positioning */
  /* Display & Box Model */
  margin-top: 10px;

  /* Color */

  /* Text */
  /* Other */
}

.sub-button button {
  /* Positioning */
  /* Display & Box Model */
  border-radius: 2px;
  color: white;
  padding: 10px;
  white-space: nowrap;
  /* Color */
  background-color: red;

  /* Text */
  /* Other */
}
.user {
 
/* top | right | bottom | left */
margin: 10px 10px 0 0 ;
}
.replay{
  margin-left:10px;
}
.commit-input {
  margin:20px 20px 0 0;

}
.comment {
  /* Positioning */
  /* Display & Box Model */
border: 1px solid pink;
margin:20px 20px 0 0;
  /* Color */
  /* Text */
  /* Other */
}


.dis-like {
    /* Positioning */
  /* Display & Box Model */
  
width:200px;
  /* Color */
  /* Text */
  /* Other */

}
/*user comment section*/



/*aside*/
aside {
  /* Positioning */
  /* Display & Box Model */
  width: 30vw;
  height: 50vh;

  /* Color */
  /* Text */
  /* Other */
}

.toggle {
  /* Positioning */
  /* Display & Box Model */

  /* Color */
  /* Text */
  /* Other */

}

.slideround {}

.aside-img {
  /* Positioning */
  /* Display & Box Model */
  width: 200px;
  height: 200px;
  margin-top:10px;

margin-right:10px;
  /* Color */
  /* Text */
  /* Other */

}
.block {
  margin-top:10px;

/* top | right | bottom | left */

}

hr {

  margin: 0.5em auto;
  border-style: inset;
  border-width: 1px;
}

.block {
  display: block;

}
.dis-like p{
  margin: 10px 10px 0 0 ;

}
.p{
  line-height: 20px;
}

.flex-center {

  /* Positioning */
  /* Display & Box Model */
  display: flex;
  justify-items: center;
  justify-content: center;

  /* Color */
  /* Text */
  /* Other */

}



.flex-even {
  /* Positioning */
  /* Display & Box Model */
  display: flex;
  justify-content: space-evenly;
  justify-items: center;

  /* Color */
  /* Text */
  /* Other */


}

.flex-end {
  /* Positioning */
  /* Display & Box Model */
  display: flex;
  justify-content: flex-end;
  justify-items: center;

  /* Color */

  /* Text */
  /* Other */

}

.flex-between {
  /* Positioning */
  /* Display & Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Color */
  /* Text */
  /* Other */
}

.flex-around {
  /* Positioning */
  /* Display & Box Model */
  display: flex;
  justify-content: space-around;
  align-items: center;
text-align: center;

  /* Color */
  /* Text */
  /* Other */

}

.flex-start {
  /* Positioning */

  /* Display & Box Model */
  display: flex;
  justify-content: flex-start;
  justify-items: center;

  /* Color */
  /* Text */
  /* Other */


}